<div class="news-wrapper">
  <h2>
    News
    <span class="sub-description" style="margin-left: 10px">
            新着情報を確認してください。
          </span>
  </h2>
  <div *ngFor="let notice of notices"
       class="news-content">
    <h3 class="news-title">
      {{notice.title}}
      <span class="write-date" style="margin-left: auto;">
              {{notice.insertDate | date:"yyyy-MM-dd"}}
            </span>
    </h3>
    <div class="news-inner">
      <div class="news-image">

      </div>
      <div class="news-context">
        {{notice.context}}
      </div>
    </div>
  </div>
</div>
