<div class="container">
  <h1>お知らせ</h1>
  <form #noticeForm="ngForm" (ngSubmit)="save(noticeForm.value)">
    <input type="hidden" name="href" [(ngModel)]="notice.href">
    <div class="form-group">
      <label for="type">種別</label>
      <select [(ngModel)]="notice.type"
              required id="type" name="type">
        <option *ngFor="let type of types" [value]="type">{{type}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="title">タイトル</label>
      <input type="text" [(ngModel)]="notice.title"
             required id="title" name="title">
    </div>
    <div class="form-group">
      <label for="context">本文</label>
      <textarea [(ngModel)]="notice.context"
                required id="context" name="context">
      </textarea>
    </div>
    <div class="form-group">
      <label id="btn-image">
        <span>画像添付</span>
        <input (change)="processFile(imageInput)"
               type="file" accept="image/*"
               id="imgName" name="imgName" #imageInput>
      </label>
    </div>
    <div *ngIf="selectedFile" class="img-preview-container">
      <div class="img-preview"
           [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
      </div>
    </div>
    <div class="btn-group">
      <button id="btn-save" type="submit" [disabled]="!noticeForm.form.valid">
        保存
      </button>
      <button id="btn-cancel" routerLink="/news">
        キャンセル
      </button>
      <button id="btn-delete" (click)="remove(notice.href)"
              *ngIf="notice.href">
        削除
      </button>
    </div>
  </form>
</div>
