div.container {
  width: 600px;
  margin: 0 auto;
}

div.form-group {
  display: flex;
  flex-direction: column;
}

div.form-group label {
  font-weight: bold;
}

div.form-group input {
  padding: 5px;
  margin: 5px;
  font-size: 1em;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}

div.form-group select {
  height: 30px;
  margin: 5px;
  font-size: 1em;
  background-color: white;
  border: 1px solid #dfdfdf;
}

div.form-group textarea {
  height: 150px;
  margin: 5px;
  padding: 5px;
  font-size: 1em;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}

div.btn-group {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

button {
  width: 80px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  padding: 10px;
  cursor: pointer;
}

#btn-image {
  background-color: mediumpurple;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  color: white;
  padding: 15px;
  margin: 5px;
  cursor: pointer;
}

#btn-image input {
  display: none;
}

#btn-save {
  background-color: forestgreen;
  color: white;
}

#btn-cancel {
  background-color: darkorange;
  color: white;
  width: 100px;
}

#btn-delete {
  background-color: palevioletred;
  color: white;
}

.img-preview-container {
  background-color: #f7f7f7;
  position: relative;
  margin: 5px;
}

.img-preview {
  background: center center no-repeat;
  background-size: contain;
  height: 400px;
  width: 100%;
}
